{% extends "base.html" %}
{% block title %}<title>P06 Form post表單 listing</title>{% endblock %}
{% block content%}
<div class="col-md-12">

  <div class="card bg-danger text-black text-center p-3 mt-3" >
    <blockquote class="blockquote mb-0">
      <footer class="blockquote-footer text-white">
        <small>
          寶寶心理苦 <cite title="Source Title">旦寶寶不說</cite>
        </small>
      </footer>
    </blockquote>
  </div>

</div>
  {% for p in posts %}
<div class="col col-md-4 g-3">

  <div class="card text">
    <div class="card-header d-flex">
      【{{ p.nickname }} 】覺得 【{{ p.mood }}】 
      <!-- 刪除文章 點x跳出彈窗 -->
      <div class ="ms-auto">
        <small class = "text-end">
          <p class="card-text">
            <small class="text-muted">{{ p.pub_time}}</small>
           </p>
       </small>
       <!-- 這是套用js layer的彈窗🔥🔥🔥 -->
        <!-- <button onclick="go_delete({{p.id}})" type="button" class="btn btn-outline-danger btn-sm "><i class="bi bi-x"></i></button> -->
      </div>

    </div>


    <div class="card-body ">
      <h5 class="card-title">【{{ p.nickname }} 】覺得 【{{ p.mood }}】</h5>
      <p class="card-text">{{ p.message }}</p>

      <div class = "text-end" > 
        <a href="#" class="btn btn-outline-primary btn-sm">read more..</a>
      </div>

    </div>
  </div>

</div> 


 {% endfor %}

<script>
   function go_delete(id) {
   
      // 调用layer弹窗组件 自訂
     layer.open({
            // 弹窗标题
            title: "確認刪除",
            // 正文
            content: "確認刪除這篇文章嗎?",
            // 点击确定按钮后调用的回调函数
            btn: ['確認', '取消'],
            // closeBtn: 0,
            yes: function( layero,index) {
                // 指定应当前往的 url
                var user_pass = document.getElementById('user_pass').value; 
                if (user_pass != "") { 
                  //window.location頁面跳轉
                  //usr對應urls.py的參數
                  var usr = '/' + id + '/' + user_pass; 
                  window.location = usr; 
                  }
                else{                 
                  layer.msg ('請填刪除密碼',{time: 2000})
                                               //2s后自动关闭
                  }
              },
        })
   }
</script>
{% endblock %}