{% extends "base.html" %}
{% block title %}<title>P07 session登入分享日記</title>{% endblock %}
{% block content%}
<div class="col col-md-12 ">
    <!-- {% if messages %}     
      <div class="alert alert-{{message.tags}}" role="alert" >
        {{messages}}
      </div>
    {% endif %} -->
    {% for message in messages %}
    {% if forloop.last %}
    <div class="alert alert-{{message.tags}}" role="alert" >
      {{message }}
    </div>
    {% endif %}
    {% endfor %}

  <form name='login' action='.' method='POST'>
    {% csrf_token %}
    <div class="card text">
      <div class="card-header d-flex">
        登入
      </div>

      <div class="card-body ">
        <table>
         {{login_form.as_table}}
        </table>
      </div>

      <div class="card-footer">
        <input  type="submit" value="登入">
      </div>

    </div>
  </form>

</div> 

{% endblock %}